vagrantFacerecognition/Bachelorproef
vagrantFacerecognition/dlib
vagrantFacerecognition/.vagrant
vagrantKerasdlibopencv/Bachelorproef
vagrantKerasdlibopencv/dlib
vagrantFacerecognition/.vagrant
Type1/*
!Type1/1_*
Type2/*
!Type2/1_*
Type3/*
!Type3/1_*
Type4/*
!Type4/1_*
Type5/*
!Type5/1_*
Type5/*
!Type5/1_*
Type6/*
!Type6/1_*
Type7/*
!Type7/1_*
Type8/*
!Type8/1_*
kerasdlibopencv/images/*
!kerasdlibopencv/images/person-1